<footer id="footer">
    <div class="container">
            <ul class="icons">
                <li><a href="https://www.linkedin.com/in/shantnus/" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
                <li><a href="https://github.com/ShantnuS" class="icon fa-github"><span class="label">GitHub</span></a></li>
                <li><a href="https://twitter.com/Shanperson" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
            </ul>
        </div>
        <div class="copyright">
            This site was created using the awesomeness of <a href="https://templated.co">Templated</a>!
    </div>
</footer>